/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
}

div h1{
    text-align: center;
}

div :hover{
transform: scale(1.2);
}