<form action="">
    <label for="">
        <span>Day:</span>
        <select>
            <option value="Понеділок">Понеділок</option>
            <option value="Вівторок">Вівторок</option>
            <option value="Середа">Середа</option>
            <option value="Четверг">Четверг</option>
            <option value="П'ятниця">П'ятниця</option>
            <option value="Субота">Субота</option>
            <option value="Неділя">Неділя</option>
        </select>
        <input type="text">
    </label>
    <label for="">
        <span>NameCase:</span>
        <input type="text" required>
    </label>
    <label for="">
        <span>Case:</span>
        <input type="text">
    </label>
    <div>
        <button type="reset">Cencel</button>
        <button type="submit">Create</button>
    </div>
</form>
